[submodule "External/osu"]
	path = External/osu
	url = git@github.com:jvyden/osu.git
	branch = expose-strain
[submodule "External/osu-framework"]
	path = External/osu-framework
	url = https://github.com/ppy/osu-framework
[submodule "External/osuTK"]
	path = External/osuTK
	url = https://github.com/ppy/osuTK
